[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdf2docx = "*"
docx2pdf = "*"
pillow = "*"
python-docx = "*"
pypdf2 = "*"
"spire.pdf" = "*"

[dev-packages]

[requires]
python_version = "3.10"
